<table class="table-auto min-w-full border-collapse border border-green-400 rounded-xl" dir="rtl">
    <thead class="bg-green-200 text-xl font-semibold border border-green-600 rounded">
      <tr>
        <th class="p-5 border-r border-r-green-500">الرقم</th>
        <th class="border-r border-green-500">من</th>
        <th class="border-r border-green-500">إلى</th>
        <th class="border-r border-green-500">المبلغ</th>
        <th class="border-r border-green-500">التاريخ</th>
        <th class="border-r border-green-500">الرقم المرجعي</th>
        <th class="border-r border-green-500">البنك</th>
        <th class="border-r border-green-500">نوع الحوالة</th>
        <th class="border-r border-green-500">ملاحظات</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr>
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
      <tr class="bg-green-100">
        <td class="border-r border-green-500">1</td>
        <td class="border-r border-green-500">رناد</td>
        <td class="border-r border-green-500">الصندوق</td>
        <td class="border-r border-green-500">180</td>
        <td class="border-r border-green-500">22-5-2023</td>
        <td class="border-r border-green-500">5a46f51as36d1f23asd1f</td>
        <td class="border-r border-green-500">SNB</td>
        <td class="border-r border-green-500">اشتراك</td>
        <td class="border-r border-green-500">شهر 5</td>
      </tr>
    </tbody>
  </table>