{% extends 'base.html' %}
{% load static %}

{% block title %}PDF{% endblock %}
{% block body %}
    <div class="h-screen flex flex-col">
        {% block toolbar %}
            {% include "pdfman/includes/pdf_toolbar.html" %}
        {% endblock %}
        {% include "includes/messages.html" %}
        {% block display-content %}
            <div class="basis-5/6 sm:basis-11/12" id="content">
                {% comment %}action="{% url 'upload' %}"{% endcomment %}
                <form class="bg-sky-100 h-full sm:px-8 md:px-16 sm:py-8" method="post" enctype="multipart/form-data"  novalidate
                    hx-post="{% url 'upload' %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-trigger="submit, change delay:5s"
                    hx-target="#messages" hx-swap="innerHTML">
                    {% csrf_token %}
                    {% include 'pdfman/includes/pdf_form.html' %}
                </form>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block JS %}
    <script src="{% static 'js/pdfman.js' %}"></script></script>
{% endblock %}