<div class="fixed top-1/4 right-0 transform -translate-y-1/4 rounded-sm mr-10 p-4 w-1/6 bg-blue-200">
    <h1 class="text-center text-2xl font-bold text-rose-600 mb-4">Tips</h1>
    <ul class="p-3 list-disc">
        <li class="text-l pb-3">files are merged in the order you see in front of you <b>starting from the top left corner going right</b>.</li>
        <li class="text-l pb-3">you can <b>drag and drop </b>files to change the order.</li>
        <li class="text-l pb-3">page range is <b>not required</b></li>
        <li class="text-l pb-3">page range accepts two number separated by a <b>dash "-"</b> or a single number for one page.</li>
    </ul>
</div>